<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                @for(item of userList;track $index) {
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.website }}</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
     <div class="col-md-2"> - </div>
    <div class="col-md-5">
         <table class="table">
            <tr>
                <td> Name</td>
                <td> <input type="text" [(ngModel)]="userObj.name" /></td>
            </tr>
            <tr>
                <td> Email</td>
                <td> <input type="text" [(ngModel)]="userObj.email" /></td>
            </tr>
            <tr>
                <td> Phone</td>
                <td> <input type="text" [(ngModel)]="userObj.phone" /></td>
            </tr>
            <tr>
                <td> Website</td>
                <td> <input type="text" [(ngModel)]="userObj.website" /></td>
            </tr>
            <tr>
                <td> </td>
                <td><button class="btn btn-primary" (click)="resetUser()">Reset</button>  <button class="btn btn-primary" (click)="addUser()">Add User</button></td>
            </tr>
        </table>
    </div>
</div>