<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                @for(item of userList;track $index) {
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.website }}</td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-2"> - </div>
    <div class="col-md-5">
        <form [formGroup]="userForm">

            <table class="table">
                <tr>
                    <td> Name</td>
                    <td> <input type="text" name="name" formControlName="name" /></td>
                    @if(userForm.get('name')?.touched) {
                    @if(userForm.get('name')?.errors?.['required']){
                    <td style="color:red">Name is required</td>
                    }
                    @if(userForm.get('name')?.errors?.['minlength']){
                    <td style="color:red">Name must be at least 3 characters</td>
                    }
                    }
                </tr>
                <tr>
                    <td> Email</td>
                    <td> <input type="text" name="email" formControlName="email" /></td>
                    @if(userForm.get('email')?.touched) {
                    @if(userForm.get('email')?.errors?.['required']){
                    <td style="color:red">Email is required</td>
                    }
                    @if(userForm.get('email')?.errors?.['email']){
                    <td style="color:red">Please enter a valid email address</td>
                    }
                    }
                </tr>

                <tr>
                    <td> Website</td>
                    <td> <input type="text" formControlName="website" /></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>
                        <button class="btn btn-primary" (click)="resetUser()">Reset</button>
                        <button class="btn btn-primary" (click)="addUser()">Add User</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>